spring:
  datasource:
    url: jdbc:h2:file:./data/expensetracker
    driverClassName: org.h2.Driver
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: false

flyway:
  locations: classpath:db/migration

jwt:
  secret: ${JWT_SECRET}
  expiration-ms: 3600000

logging:
  level:
    root: INFO
    com.markoleljak.expensetracker: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n"
  file:
    name: logs/application.log


