spring:
  datasource:
    url: jdbc:h2:mem:expensetracker;DB_CLOSE_DELAY=-1
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect

logging:
  level:
    root: WARN
    org.springframework.security: DEBUG

